/Chalk
/node_modules
Fundamentos/Chalk/node_modules/chalk/source/vendor/supports-color/browser.d.ts
Fundamentos/Chalk/node_modules/chalk/source/vendor/supports-color/browser.js
Fundamentos/Chalk/node_modules/chalk/source/vendor/supports-color/index.d.ts
Fundamentos/Chalk/node_modules/chalk/source/vendor/supports-color/index.js
Fundamentos/Chalk/package-lock.json
/Accounts/node_modules
/Express/instalacao/node_modules
/Express/setup/node_modules
/Express/render HTML/node_modules
/Express/Nodemon/node_modules
/Express/Middleware/node_modules